@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #2b2b2b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ffffff;
  }
} */

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}
