# Ignore node_modules
node_modules/

# Ignore TypeScript build outputs
dist/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore IDE specific files
.vscode/
.idea/

# Ignore TypeScript cache
*.tsbuildinfo